<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Job_UpdatePR.Properties.Settings.WolfApproveCore_e_procurementConnectionString" connectionString="Data Source=DESKTOP-MTFBHTV;Initial Catalog=WolfApproveCore.e-procurement;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--===================== ♥♥ Setting Device ♥♥ ==========================-->
		<add key="ServarName" value="DESKTOP-MTFBHTV" />
		<add key="Database" value="WolfApproveCore.e-procurement" />
		<add key="Username_database" value="sa" />
		<add key="Password_database" value="Wolf@tcb1" />
		<add key="LogFile" value="C:\Loadtest_TLI\Migrate_TLI\log\" />
		
		<add key="Docno" value="25" />   <!-- ALL Docno ใส่ "ALL" , มีหลาย Docno คั่นด้วย "|"-->
		<add key="TemplateId" value="14" />
		<add key="IntervalTimeDay" value="-5" />
		<!--================================================================-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>